header {
    background-color: #FE7E00;
    height: 7vh;
    display: flex;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FE7E00;
    height: 45.5px;
    gap: 10px;
    width: 100%;
}

footer a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.main_container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.basket_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007AFF;
    width: 100%;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    cursor: pointer;
}

@media(min-width:640px) {
    .basket_button{
        display: none;
    }
}

@media(max-width:640px) {
    footer{
        margin-bottom: 45.5px;
    }
    footer a{
        font-size: 8px;
    }
}