header {
    background-color: #FE7E00;
    height: 60px;
    display: flex;
}

.main_container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}