header img{
    padding: 10px;
}


.dummy_img{
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    background-size:cover ;
    background-image: url(../assets/img/pizza_img.jpg) ;
    background-position: center;
}

.dummy_img_the_2nd{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    background-image: url(../assets/img/main_image.jpg) ;
    background-size:cover ;
    background-position: center;
}