.logo{
    padding: 10px;
    width: 100px;
}

.main_img{
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    background-size:cover ;
    background-image: url(../assets/img/main_img.jpg) ;
    background-position: center;
}

.pizza_img{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    background-image: url(../assets/img/pizza_img.jpg) ;
    background-size:cover ;
    background-position: center;
}

.menu img{
    height: 20px;
    padding-right: 5px;
}

.basket_information_per_pizza img{
    height: 20px;
    cursor: pointer;
}

.basket_nothing img{
    width: 80px;
}