.order_footer{
    position: absolute;
    bottom: 0;
}

.order_confirmt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    flex-direction: column;
}

.order_confirmt h4{
    color: #FE7E00;
}

