body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

h3{
    margin: 0;
}

h4{
    margin: 0;
}

p{
    font-size: 12px;
    margin: 0;
}

.stars{
    color: #FE7E00;
    margin-top: 6px;
    margin-bottom: 18px;
}

.menu_headline{
    color:#737E85;
}

.food_price{
    color: #FE7E00;
    font-weight: bolder;
}