.sidebar{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.basket_headline{
    border-style: none none solid none ;
    border-radius: 0px;
    border-width: 1px;
    border-color: lightgray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket_products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    border-style: none none solid none ;
    border-radius: 0px;
    border-width: 1px;
    border-color: lightgray;
}

.basket_information_per_pizza{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.basket_product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin-top: 20px;
}

.payment_statemant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.subtotal{
    color:#aaabac ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.subtotal h5{
    margin-top: 10px;
    margin-bottom: 0;
}

.delivery_cost{
    color:#aaabac;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.delivery_cost h5{
    margin-top: 5px;
    margin-bottom: 0px;
}

.amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.amount h5{
    margin-bottom: 0;
    margin-top: 5px;
}