.sidebar{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    position: sticky;
    top: 0;
    height: 85vh;
}

.basket_headline{
    border-style: none none solid none ;
    border-radius: 0px;
    border-width: 1px;
    border-color: lightgray;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket_products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    border-style: none none solid none ;
    border-radius: 0px;
    border-width: 1px;
    border-color: lightgray;
}

.basket_information_per_pizza{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.basket_product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin-top: 20px;
}

.payment_statemant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.subtotal{
    color:#aaabac ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.subtotal h5{
    margin-top: 10px;
    margin-bottom: 0;
}

.delivery_cost{
    color:#aaabac;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.delivery_cost h5{
    margin-top: 5px;
    margin-bottom: 0px;
}

.amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.amount h5{
    margin-bottom: 0;
    margin-top: 5px;
}

.basket_nothing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.basket_nothing p{
    color: grey;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.order_button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.order_button h3{
    width: 80%;
    padding: 20px;
    background-color: #007AFF;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order_button a{
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:640px) {
    .sidebar_dnone{
        display: none;
    }
    .sidebar_{
        width: 100%;
    }
}