.sub_container{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info_to_restaurant{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.menu{
    background-color: #F7F6F1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.subline{
    width: 95%;
    margin-bottom: 10px;
}

.food_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.food_container :hover{
    background-color: #FEE5CB;
}

.bg_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 10px;
    border-style: solid ;
    border-radius: 0px;
    border-width: 1px;
    border-color: lightgray;
}

.food_name{
    margin-bottom: 8px;
    margin-top: 8px;
    width: 95%;
}

.food_description{
    width: 95%;
    margin-bottom: 8px;
}

.food_price{
    width: 95%;
    margin-bottom: 8px;
}